<h1>This is where your journal entries will be, <%= current_user.username %></h1>
<%= button_to "Logout", '/logout', method: :get %>

<% @cat.each do |c| %>
  <h4><%= c.cat_name %></h4>
  <h5><%= c.cat_details %></h5>
<% end %>

<% @task.each do |t| %>
  <h4><%= t.task_name %></h4>
  <h5><%= t.alarm.to_date %> <%= t.alarm.strftime('%H:%M') %></h5>
  <h5><%= t.task_details %></h5>
<% end %>