 <%= form_with scope: :category, method: :put, url: categories_update_path, local: true do |f| %>
  <% if @cat.errors.any? %>
    <ul>
    <% @cat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div class="update_form" id="updateForm">
      <div class="update_details">
      <%= f.hidden_field :id, value:@cat.id %>
      <%= f.hidden_field :user_id, value:@cat.user_id %>
      </div>

    <div class="update_details">
      <%= f.label :"Category Name" , class:"textLabel" %>
      <%= f.text_field :cat_name, value:@cat.cat_name, class:"textUpdate" %>
    </div>

    <div class="update_details">
      <%= f.label :"Category Details" , class:"textLabel" %>
      <%= f.text_field :cat_details, value:@cat.cat_details, class:"textUpdate" %>
    </div>

    <div>
      <%= hidden_field_tag(:id, @cat.id) %>
      <%= f.submit :"UPDATE GAME", :class => "submit_update" %>
    </div>
    
  </div>
<% end %>